$color-primary: orange;
$color-secondary: gray;
$color-tertiary: royalblue;
$font-lg: 40px;
$font-md: 30px;
$font-sm:20px;

.nav{
    $color-primary: magenta;
    background-color: $color-primary;
}

.banner h1{
    color: $color-primary;
}
.footer h3{
    font-size: $font-md;
    color: $color-tertiary;
    text-align: center;
}
