.nav {
  background-color: orange; }
  .nav ul li {
    list-style: none; }
  .nav a {
    text-decoration: none;
    font-size: 20px;
    color: gray; }
    .nav a:hover {
      color: royalblue; }

.heading, .banner h1, .banner .footer h3, .footer .banner h3 {
  color: orange;
  font-size: 40px;
  background-color: gray;
  text-align: center; }

.banner h1:hover, .banner .footer h3:hover, .footer .banner h3:hover {
  background-color: green; }

.footer h3 {
  font-style: italic; }
